---
layout: default
---

<div class="home">

  <!--<h1 class="page-heading">Posts</h1>-->

  <ul class="post-list">
    {% for post in site.posts %}
      <li>
      	

        <h2>
          <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
        </h2>
        <span class="post-meta">
			<div class="meta-item">
				<i class="fa fa-calendar"></i> {{ post.date | date: "%-d %B %Y" }} 
				<i class="fa fa-user"></i>
				<span class="vcard author"> 
					<span class="fn"> By {{ site.author }}</span> 
				</span>       
				<i class="fa fa-hashtag"></i> 
				{% for category in post.categories %} 
					<a class="post-category" href="/category/{{category}}">{{category}}</a>
				{% endfor %}
			</div>
 		</span> 
 		
		<p><article>{{ post.excerpt }}</article></p>
		<a class="continue-reading" href="{{ post.url | prepend: site.baseurl }}"> Continue Reading</a>
      </li>
    {% endfor %}
  </ul>

  <p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | prepend: site.baseurl }}">via RSS</a></p>

</div>
